
<h1>Edit user</h1>
 
<%= form_with(model: @user, local: true) do |form| %>
    <p>
    <%= form.label :Name %><br>
      <%= form.text_field :name%>
   </p>
 
   <p>
      <%= form.label :LastName %><br>
      <%= form.text_field :lastname %>
    </p>

  <p>
      <%= form.label :Email %><br>
      <%= form.email_field :email %>
    </p>

  <p>
      <%= form.label :Password %><br>
      <%= form.password_field :password %>
    </p>

  <p>
      <%= form.label :Address %><br>
      <%= form.text_field :address %>
    </p>
 
    <p>
      <%= form.submit %>
    </p>
<% end %>