<h1>Welcome</h1>

<%= link_to 'Users', controller: 'users' %>|
<%= link_to 'Events', controller: 'events' %>|
<%= link_to 'Tickets', controller: 'tickets' %>|
<%= link_to 'Event Venues', controller: 'event_venues' %>|
<%= link_to 'Ticket Types', controller: 'ticket_types' %>




