<h1> Edit Ticket </h1>

<%= form_with(model: @ticket, local: true) do |form| %>

	<% if @ticket.errors.any? %>
    	<div id="error_explanation">
      		<h2>
        		<%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:
      		</h2>
     		 <ul>
        		<% @ticket.errors.full_messages.each do |msg| %>
          			<li><%= msg %></li>
        		<% end %>
      		</ul>
    	</div>
  	<% end %>

  	<p>
		<%= form.label :ticket_type_id %><br>
		<%= form.collection_select(:ticket_type_id, TicketType.all, :id, :id) %>
	</p>

	<p>
		<%= form.label :order_id %><br>
		<%= form.collection_select(:order_id, Order.all, :id, :id) %>
	</p>

	<p>
		<%= form.submit %>
	</p>

	<% end %>

	<%= link_to 'Back', tickets_path %>