<h1>New Event Venue</h1>


<%= form_with scope: :event_venue, url: event_venues_path, local: true do |form| %>
  <% if @event_venue.errors.any? %>
      <div id="error_explanation">
          <h2>
            <%= pluralize(@event_venue.errors.count, "error") %> prohibited this event_venue from being saved:
          </h2>
         <ul>
            <% @event_venue.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :capacity %><br>
    <%= form.number_field :capacity %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', event_venues_path %>